.add_risk_alert{
    background-color: rgba(1, 0, 0, 0.77);
    right: 0;
    left: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 11;
    display: none;
    font-family: Roboto;
}

.window_risk_alert {
    left: 50%;
    min-width: 720px;
    height: auto;
    z-index: 12;
    margin: 0;
    position: fixed;
    padding: 20px;
    top: 17%;
    border: 1px solid #383738;
    background: #fefeff;
    border-radius: 15px;
    box-shadow: 0 13px 21px rgba(0, 1, 0, .19), 0 21px 63px rgba(0, 1, 0, .31);
    transform: translate(-50%, 0);
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}

.selector{
    position: relative;
}
.info_wrapper {
    position: relative;
    height: auto;
    margin-top: 15px;
    width: 100%;
}

.input {
    border-radius: 8px;
    resize: none;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
    height: 40px;
    min-height: 30px;
    margin-bottom: 10px;
    width: 100%;
}