.dropdown {
    position: absolute;
    width: 225px;
    height: 40px;
    float: left;
    top: 125px;
    left: 250px;
}

.dropbtn {
    background-color: white;
    color: black;
    width: 100%;
    height: 39px;
    font-size: 16px;
    border: 1px gray solid;
    cursor: pointer;
    padding: 5px;
    border-radius: 7px;
    outline: none;
}

.dropbtn:hover {
    background-color: rgba(211, 211, 211, 0.25);
}

.u_name {
    font-size: 17px;
    max-width: 120px;
    position: relative;
    text-align: left;
    padding-left: 10px;
}

.dropdownContent {
    display: none;
    position: absolute;
    left: 0;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 7px;
    margin-top: 5px;
    background-color: white;
    min-width: 175px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 5px;
}

.item {
    text-align: left;
    display: inline-list-item;
    height: 25px;
    position: relative;
    padding-top: 12px;
    padding-left: 10px;
    width: 250px;
    background-color: rgba(128, 128, 128, 0.1);
    text-decoration: none;
    transition: none;
    color: black;
}

#item1 {
    border-radius: 7px 7px 0 0;
}

#item2 {
    border-radius: 0 0 7px 7px;
}

.item:hover {
    color: red;
}
