.Main {
    grid-area: content;
    text-align: center;
    min-width: 1200px;
    height: 89vh;
    background-size: 115% 100%;
}

body {
    height: 100%;
}

.Inf {
    width: 100%;
    position: relative;
    font-size: large;
    margin-right: 400px;
    margin-top: 120px;
}

.Login {
    position: relative;
    border-radius: 5px;
    height: 30px;
    width: 380px;
    margin: 12px 25px;
    padding-left: 5px;
    outline: none;
    border: 1px solid rgba(37, 45, 255, 0.64);
}


.leftImg {
    position: fixed;
    top: 74px;
    left: -14%;
    height: 100%;
}

.rightImg {
    position: fixed;
    top: 74px;
    right: -14%;
    height: 100%;
}

.Check {
    position: relative;
    border-radius: 5px;
    height: 35px;
    width: 390px;
    margin: 12px 25px;
    background-color: #252dff;
    outline: none;
    color: white;
    border: 0;
}

/*button:hover {*/
/*    background-color: #252dff;*/
/*}*/

.Password {
    font-kerning: normal;
    position: relative;
    border-radius: 5px;
    margin: 12px 25px;
    height: 30px;
    width: 380px;
    padding-left: 5px;
    text-blink: password;
    outline: none;
    border: 1px solid rgba(37, 45, 255, 0.64);
}

.vk_auth {
    position: absolute;
    right: 0;
    width: 30px;
    height: 30px;
}

.ico_wrapper {
    position: relative;
    width: 30px;
    height: 30px;
    top: -10px;
    left: -10px;
}

.vk_ico {
    height: 30px;
    width: 30px;
}

.ForgetPassword {
    position: absolute;
    margin-right: 200px;
    color: #252dff;
    left: 0;
    font-family: inherit;
}

.wrapper_hef {
    position: relative;
    width: 390px;
    height: 30px;
    display: inline-block;
}