.alert {
    background-color: rgba(1, 0, 0, 0.77);
    right: 0;
    left: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 15;
    display: none;
    font-family: Roboto;
}

.window {
    left: 50%;
    min-width: 420px;
    z-index: 12;
    margin: 0;
    position: fixed;
    padding: 20px;
    top:17%;
    border: 1px solid #383738;
    background: #fefeff;
    border-radius: 15px;
    box-shadow: 0 13px 21px rgba(0,1,0,.19),0 21px 63px rgba(0,1,0,.31);
    transform: translate(-50%, 0);
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}

.video_window {
    left: 50%;
    min-width: 600px;
    height: 425px;
    outline: none;
    z-index: 12;
    position: fixed;
    padding: 0;
    top:17%;
    background: #fefeff;
    border-radius: 10px;
    transform: translate(-50%, 0);
}

.header{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    display: inline-block;
}

.close {
    color: white;
    top: -11px;
    right: -11px;
    width: 25px;
    height: 25px;
    position: absolute;
    padding: 0;
    border-radius: 50px;
    background-color: rgba(61, 61, 61, 0.81);
    box-shadow: 0 0 12px #010;
    text-align: center;
    text-decoration: none;
    font: 18px sans-serif;
    font-weight: bold;
}

.btn{
    margin-top: 15px;
    width: 80%;
    display: inline-block;
    height: 30px;
    text-decoration: none;
    outline: none;
    border: none;
    background-color: rgba(255, 0, 0, 0.81);
    border-radius: 5px;
    animation: none;
    color: white;
}

.btn:hover{
    background-color: rgb(235, 0, 0);
}

.close:hover{
    background-color: rgb(235, 0, 0);
}

.video {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    outline: none;
}

.video[poster] {
    object-fit: cover;
}