.Main {
    grid-area: content;
    min-width: 1200px;
    height: 89vh;
    background-size: 115% 100%;
}

.Registration {
    position: relative;
    margin: 0 auto;
    background-color: white;
    height: auto;
    text-align: center;
    width: 600px;
}

/*button:hover {*/
/*    background-color: #c70000;*/
/*}*/

.Inf {
    position: relative;
    font-size: large;
    margin-top: 120px;
    text-align: center;
}

html, body, .container {
    height: 100%;
}

.Login {
    position: relative;
    border-radius: 5px;
    height: 30px;
    width: 380px;
    margin: 12px 25px;
    padding-left: 5px;
    outline: none;
    border: 1px solid rgba(255, 111, 112, 0.64);
}

.leftImg {
    position: fixed;
    top: 74px;
    left: -14%;
    height: 100%;
    z-index: -1;
    /*min-height: 660px;*/
}

.rightImg {
    position: fixed;
    top: 74px;
    right: -14%;
    height: 100%;
    z-index: -1;
    /*min-height: 660px;*/
}


.Password {
    font-kerning: normal;
    position: relative;
    border-radius: 5px;
    margin: 12px 25px;
    height: 30px;
    width: 380px;
    text-blink: password;
    outline: none;
    border: 1px solid rgba(255, 111, 112, 0.64);
}

.Register {
    position: relative;
    border-radius: 5px;
    height: 35px;
    width: 390px;
    margin: 12px 25px;
    background-color: red;
    outline: none;
    color: white;
    border: 0;
}

.help {
    color: red;
    position: relative;
    font-size: small;
}