.user_info {
    position: relative;
    background-color: white;
    height: 50px;
    width: calc(100% - 2px);
    border-radius: 5px;
    margin: 0.5%;
}
.user_info:hover{
    background-color: rgba(128, 128, 128, 0.25);
}

.user_ico {
    position: relative;
    display: inline-block;
    float: left;
    height: 45px;
    margin: 2px;
    border-radius: 100%;
}

.username {
    display: inline-block;
    position: relative;
    width: 70%;
    height: 50%;
    left: -50px;
    /*line-height: normal;*/
    bottom: 25%;
    /*margin-left: ;*/
    /*float: inherit;*/
    /*align-self: initial;*/
    text-align: left;
}

.is_selected_wrap {
    display: inline-block;
    height: 90%;
    bottom: 25%;
    padding-top: 15px;
}

.is_selected::-ms-check {
    top: 50%;
    /*position: absolute;*/
}