.main_wrapper {
    text-align: center;
    min-width: 1200px;
    font-family: inherit;
    margin: 15px;
    padding: 25px;
}

.chat_wrapper {
    position: relative;
    min-height: 600px;
    height: 100%;
    min-width: 1100px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.08);
    /*background-color: red;*/
    /*display: inline-block;*/
}

.chats::-webkit-scrollbar {
    width: 0;
}

.chats {
    position: relative;
    padding: 5px;
    min-width: 30%;
    height: 600px;
    float: left;
    overflow-y: scroll;
}

.chat_info {
    position: relative;
    width: 100%;
    cursor: pointer;
    /*border: 1px solid;*/
    height: 75px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.chat_info:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.chat_info_with_new_messages {
    position: relative;
    width: 100%;
    cursor: pointer;
    /*border: 1px solid;*/
    height: 75px;
    background-color: rgba(37, 45, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.chat_info_with_new_messages:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.chats_search {
    height: 60px;
    position: sticky;
    width: 100%;
    display: block;
}

.chat_create {
    height: 60px;
    position: sticky;
    width: 100%;
    display: none;
}

.chat_ico {
    position: relative;
    float: left;
    height: 75px;
    width: 75px;
}

.chat_username {
    position: relative;
    width: calc(100% - 75px);
    height: 25px;
    float: right;
    text-align: left;
}

.chat_lastMessage {
    position: relative;
    width: calc(100% - 75px);
    height: 50px;
    float: right;
    text-align: left;
    padding: 10px;
}

.modal_list_user {
    width: 100%;
    height: 250px;
    display: none;
    position: absolute;
}

.user_info {
    position: relative;
    width: 100%;
    /*border: 1px solid;*/
    height: 75px;
}

.ico {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}



/*.btn {*/
/*    appearance: none;*/
/*    border: 0;*/
/*    border-radius: 5px;*/
/*    background: #4676D7;*/
/*    color: #fff;*/
/*    padding: 8px 16px;*/
/*    font-size: 16px;*/
/*    float: left;*/
/*}*/



.search {
    width: 77%;
    margin: 0.5%;
    display: inline-block;
}

.new_group {
    width: 19%;
    display: inline-block;
    margin: 0.5%;
}

