.main_wrapper {
    text-align: center;
    min-width: 1200px;
    font-family: inherit;
    margin: 15px;
    background-color: rgba(218, 218, 218, 0.1);
    padding: 25px;
}

.chat_wrapper {
    position: relative;
    min-height: 600px;
    height: 100%;
    min-width: 1100px;
    background-color: rgba(185, 185, 185, 0.51);
    /*background-color: red;*/
    /*display: inline-block;*/
}

.chats::-webkit-scrollbar {
    width: 0;
}

.chats {
    position: relative;
    min-width: 30%;
    height: 600px;
    float: left;
    overflow-y: scroll;
}

.chat_info {
    position: relative;
    width: 100%;
    /*border: 1px solid;*/
    height: 75px;
}

.chat_info:hover {
    background-color: rgba(37, 45, 255, 0.11);
}

.chats_search {
    height: 60px;
    position: sticky;
    width: 100%;
    display: block;
}

.chat_create {
    height: 60px;
    position: sticky;
    width: 100%;
    display: none;
}

.chat_ico {
    position: relative;
    float: left;
    height: 75px;
    width: 75px;
    background-color: yellow;
}

.chat_username {
    position: relative;
    width: calc(100% - 75px);
    height: 25px;
    float: right;
    text-align: left;
}

.chat_lastMessage {
    position: relative;
    width: calc(100% - 75px);
    height: 50px;
    float: right;
    text-align: left;
    padding: 10px;
}

.message_wrapper::-webkit-scrollbar {
    width: 0;
}

.messenger {
    position: relative;
    background-color: rgba(185, 185, 185, 0.51);
    min-width: 70%;
    width: 70%;
    height: 600px;
    float: right;
}

.messanger_info {
    height: 60px;
    width: 100%;
    background-color: rgba(66, 68, 76, 0.35);
    position: sticky;
}

.message_wrapper {
    height: 465px;
    position: relative;
    width: 100%;
    overflow-y: scroll;
}

.message_div {
    height: 50px;
    position: relative;
    width: 100%;
}

.owner_message {
    position: relative;
    float: right;
    width: 45%;
    height: auto;
    text-align: right;
    margin-right: 10px;
    background-color: rgba(66, 68, 76, 0.3);
    border-radius: 7px;
    padding: 5px;

}

.recepient_message {
    position: relative;
    float: left;
    width: 45%;
    height: 50px;
    text-align: left;
    margin-left: 10px;
    padding: 5px;
    background-color: rgba(66, 68, 76, 0.3);
    border-radius: 7px;
}

.message_content {
    width: 100%;
    height: 50px;
    position: relative;
    float: bottom;
    bottom: -25px;
    display: block;
}

.modal_list_user {
    width: 100%;
    height: 250px;
    display: none;
    position: absolute;
}

.user_info {
    position: relative;
    width: 100%;
    /*border: 1px solid;*/
    height: 75px;
}

.ico {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.selector {
    display: inline-block;
    height: 45px;
    width: calc(80% - 100px);
    z-index: 5;
}

.btn{
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #4676D7;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
    float: left;
}

.input_wrap {
    position: relative;
    height: 30px;
    margin-top: 5px;
    width: 100%;
}

.chatName {
    width: 100%;
    height: 20px;
}

.input_msg {
    position: relative;
    width: calc(100% - 126px);
    float: right;
    border-radius: 5px;
    height: 90%;
    resize: none;
}

.sendMes {
    appearance: none;
    border: 0;
    width: 120px;
    height: 100%;
    border-radius: 5px;
    background: #4676D7;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
    float: left;
}