.AbstractWrapper {
    /*display: grid;*/
    height: 100%;
    width: 100%;
    grid-template-rows: 2fr;
    grid-template-areas: "header" "content";
    grid-template-columns: 100%;
    grid-gap: 2vh;
}

/**{*/
/*    border: 1px red solid;*/
/*}*/