.AbstractWrapper {
    /*display: grid;*/
    max-height: 90%;
    /*grid-template-areas: "header" "content";*/
    /*grid-template-columns: 100%;*/
    min-width: 1200px;
}

.test{
    /*height: calc(100% - 300px);*/
}
.test_img{
    height: 100px;
    width: 100px;
}

/**{*/
/*    border: 0.1px blue solid;*/
/*}*/
