.wrapper {
    text-align: center;
    width: 80%;
    margin: auto;
    min-width: 1200px;
    font-family: inherit;
    padding: 25px;
}

.avatar_wrapper {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    display: inline-block;
    vertical-align: top;
}

.avatar {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 0px;
    border-radius: 75px;
}

.avatar_hover {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 25px;
    top: 25px;
    border-radius: 75px;
}


.upload {
    width: 150px;
    display: none;
    -webkit-appearance: none;
}

.hover_wrapper {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background-color: rgba(0, 0, 0, 0.31);
    opacity: 0.7;
    display: none;

}

.avatar_wrapper:hover .hover_wrapper {
    display: block;
}
.user_wrapper{
    height: 150px;
    margin-bottom: 10px;
}

.user_info{
    width: calc(100% - 150px);
    height: 150px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    padding: 25px;
}
.user_name{
    font-weight: bold;
    font-size: 25px;
    width: 100%;
    text-align: left;
}
.user_username{
    font-weight: normal;
    font-size: 17px;
    width: 100%;
    text-align: left;
}