.Wrapper {
    grid-area: content;
    min-width: 1200px;
}

.avatar_wrapper {
    position: relative;
    width: 150px;
    top: 5px;
    height: 150px;
    border-radius: 75px;
    border: 1px solid black;
    left: 5%;
    display: inline-block;
}

.avatar {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 75px;
}

.avatar_hover {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 25px;
    top: 25px;
    border-radius: 75px;
}

.hover_wrapper {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background-color: rgba(0, 0, 0, 0.31);
    opacity: 0.7;
    display: none;

}

.avatar_wrapper:hover .hover_wrapper {
    display: block;
}

.user_info {
    width: 80%;
    left: 10%;
    position: relative;
    top: 0;
    height: 160px;
    /*background-color: rgba(0, 0, 0, 0.15);*/
}

.user_personal {
    position: absolute;
    margin-left: 100px;
    width: 500px;
    height: 150px;
    top: 5px;
    display: inline-block;
}

.user_name {
    position: relative;
    top: 25px;
    left: 25px;
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin-bottom: 55px;
}

.user_description {
    position: relative;
    font-size: 15px;
    margin-bottom: 5px;
    left: 25px;
    display: block;
}

.courses {
    text-align: center;
    position: relative;
    margin-left: 150px;
    margin-right: 150px;
}

.CourseBlockWrapper{
    margin-top: 20px;
}

.CourseBlock {
    font-family: inherit;
    position: relative;
    min-width: 1050px;
    padding: 0;
    height: 180px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 0, 0.04);
}

.CourseBlock:hover .CourseName {
    color: red;
}

.ImgCourse {
    position: relative;
    float: left;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: 15px;
}

.CourseName {
    font-weight: bold;
    font-size: 25px;
    position: relative;
    text-align: left;
    top: 15px;
    text-decoration: none;
    color: black;
}

.CourseDescription {
    position: relative;
    top: 0;
    text-align: left;
    text-decoration: none;
    color: black;
}

.table {
    border: 1px solid black;
    width: 1px;
    height: 20px;
    position: relative;
    float: left;
    top: 13px;
    margin-left: 15px;
}

.progress {
    height: 15px;
    font-size: 15px;
    font-weight: bolder;
    position: relative;
    float: left;
    top: 15px;
    margin-left: 15px;
    color: black;
}

.to_lessons {
    position: relative;
    height: 20px;
    width: 120px;
    float: right;
    top: -165px;
    right: 25px;
    background-color: red;
    font-family: inherit;
    color: white;
    border-radius: 5px;
    transition: none;
}

.to_lessons:hover {
    background-color: #d10009;
}

.separator {
    border: none;
    background-color: rgba(0, 0, 0, 0.21);
    margin-top: -10px;
    height: 1px;
    width: 1200px;
}

.username {
    position: relative;
    left: 20vw;
    top: -15vh;
    float: top;
}

.name {
    float: bottom;
    position: relative;
    left: 15vw;
    top: -10vh;
}

.coursesCount {
    position: relative;
    top: -15vh;
    left: 30vw;
}

.upload {
    width: 300px;
    display: none;
}

.NavBar {
    min-width: 550px;
    position: relative;
    float: left;
    width: 80vw;
    min-width: 1000px;
    left: 10vw;
    height: 70px;
    bottom: 15px;
}


.SettingsItem {
    position: relative;
    height: 40px;
    margin: 10px;
    display: inline-block;
    width: 175px;
}

.secondHead {
    height: 70px;
    min-width: 1200px;
    margin-top: 10px;
    display: inline-block;
    width: 87vw;
}

.SettingsLink {
    border-radius: 5px;
    position: absolute;
    display: block;
    height: 20px;
    color: black;
    width: 175px;
    transition: none;
    padding-left: 7px;
    font-family: inherit;
}

.selected_link {
    background-color: rgba(211, 211, 211, 0.25);
    transition: none;
}

.SettingsLink:hover {
    background-color: rgba(211, 211, 211, 0.25);
    transition: none;
}