.Wrapper {
    grid-area: content;
    min-width: 1200px;
    height: 89vh;
    background-size: 115% 100%;
    background: url(https://lacbucket.s3.eu-west-2.amazonaws.com/resources/cycle/69bcb253fce01feef0810ea0f5a73baa.jpg) no-repeat center top;
    text-align: center;
}

.Refactor{
    position: relative;
    margin: 175px auto 0;
    background-color: white;
    height: auto;
    text-align: center;
    width: 600px;
}

.Inf {
    position: relative;
    font-size: large;
    margin-right: -37px;
}

button:hover{
    background-color: #c70000;
}

.Login {
    position: relative;
    border-radius: 5px;
    height: 30px;
    width: 380px;
    margin: 12px 25px;
    padding-left: 5px;
    outline: none;
    border: 1px solid rgba(255, 111, 112, 0.64);
}

.RefactorButton {
    position: relative;
    border-radius: 5px;
    height: 35px;
    width: 390px;
    margin: 12px 25px;
    background-color: red;
    outline: none;
    color: white;
    border: 0;
}