.Content {
    position: relative;
    min-width: 1120px;
    top: -25px;
}

.selectMap {
    position: relative;
    float: left;
}

.mapWrapper {
    z-index: 5;
    width: 723px;
    border: 1px solid black;
    position: relative;
    left: 25%;
}

.sensitivityWrapper {
    border: 1px solid black;
    margin-left: 50%;
    position: relative;
}

.uploadExcel {
    display: none;
}

.canvasWrap {
    width: 740px;
    /*border: 1px solid black;*/
    top: 0;
    position: absolute;
}