.Content {
    position: relative;
    min-width: 1120px;
    top:-25px;
}

.selectMap{
    position: relative;
    float: left;
}

.mapWrapper{
    border: 1px solid black;
    left: 50%;
    position: relative;
}

.sensitivityWrapper{
    border: 1px solid black;
    margin-left: 50%;
    position: relative;
}

.uploadExcel{
    display: none;
}