.Content {
    position: relative;
    width: 85vw;
    display: inline-block;
    min-width: 1050px;
    padding: 20px 15px 20px;
}

.Separator {
    width: 200px;
    border: none;
    border-top: 1px gray solid;
    margin-bottom: 15px;
}

.Separator1 {
    width: 100px;
    border: none;
    border-top: 1px gray solid;
    position: relative;
    float: left;
    top: 5px;
    left: 5px;
}

.Description {
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 265px;
    right: 50px;
    background-color: white;
    height: auto;
    top: 20px;
    padding-top: 10px;
}

.TextWrapper {
    margin-bottom: 10px;
}

.DescriptionItem {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 32.5px;
}

.DescriptionItemHeaderText {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 7px;
}

.MarkWrapper {
    height: 25px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.MarkOfTheCourse {
    position: relative;
    height: 25px;
    font-size: 25px;
    float: left;
    left: 50px;
    margin-bottom: 5px;
    font-weight: bold;
}

.rating_block {
    position: relative;
    left: 60px;
    float: left;
    top: 0;
    width: 125px;
}

.rating_block input[type="radio"] {
    position: center;
}

.label_rating1 {
    float: right;
    display: block;
    width: 25px;
    height: 25px;
    background: url(https://lacbucket.s3.eu-west-2.amazonaws.com/resources/rating/8884bb94fee6ceef83b8a0a7afbc6ed0.png) no-repeat 50% -25px;
    cursor: pointer;
}

.label_rating2 {
    float: right;
    display: block;
    width: 25px;
    height: 25px;
    background: url(https://lacbucket.s3.eu-west-2.amazonaws.com/resources/rating/8884bb94fee6ceef83b8a0a7afbc6ed0.png) no-repeat 50% -2px;
    cursor: pointer;
}

.Mark_mini {
    position: absolute;
    height: 20px;
    top: 15px;
    left: 583px;
    font-size: 20px;
    font-weight: bold;
}

.rating_block_mini {
    position: absolute;
    left: 600px;
    top: 15px;
    width: 100px;
}

.rating_block_mini input[type="radio"] {
    position: center;
}

.label_rating1_mini {
    float: right;
    display: block;
    width: 20px;
    height: 15px;
    background: url(https://lacbucket.s3.eu-west-2.amazonaws.com/resources/rating/8884bb94fee6ceef83b8a0a7afbc6ed0.png) no-repeat 50% -16px;
    background-size: 80%;
    cursor: pointer;
}

.label_rating2_mini {
    float: right;
    display: block;
    width: 20px;
    height: 15px;
    background: url(https://lacbucket.s3.eu-west-2.amazonaws.com/resources/rating/8884bb94fee6ceef83b8a0a7afbc6ed0.png) no-repeat 50% -1px;
    background-size: 80%;
    cursor: pointer;
}

.img_user {
    height: 50px;
    width: 50px;
    position: relative;
    margin: 15px;
    float: left;
    border-radius: 40px;
}

.user_name {
    font-weight: bold;
    font-size: 15px;
    position: relative;
    top: 10px;
    margin: 5px;
    float: left;
}

.report_date {
    position: relative;
    float: left;
    text-align: left;
    font-size: 12px;
}

.report_date_wrapper {
    position: relative;
    float: left;
    width: 630px;
    height: auto;
    left: 5px;
    margin-top: 10px;
}

.report_text {
    position: relative;
    max-width: 725px;
    float: left;
    text-align: left;
}

.report_text_wrapper {
    position: relative;
    float: left;
    width: 630px;
    height: auto;
    left: 5px;
    margin-top: 10px;
}

.report_block {
    display: table;
    position: relative;
    height: auto;
    width: 725px;
    max-width: 725px;
    min-height: auto;
    padding-bottom: 15px;
    border-radius: 10px;
    margin-bottom: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.reports_wrapper {
    margin-top: 20px;
    width: 725px;
    max-width: 725px;
}

.SendFeedback {
    position: absolute;
    border-radius: 5px;
    left: 25px;
    height: 40px;
    width: 125px;
    background-color: rgba(255, 0, 0, 0.81);
    outline: none;
    color: white;
    border: 0;
    top: 65px;
}

.inputField {
    position: absolute;
    min-height: 70px;
    max-height: 70px;
    border-radius: 5px;
    top: 30px;
    left: 175px;
    min-width: 550px;
    max-width: 550px;
    outline: none;
    resize: none;
}

.ReportWrapper {
    width: 725px;
    height: 95px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}


.rating_block_1 {
    width: 125px;
    height: 25px;
    position: absolute;
    top: 30px;
    left: 25px;
}


.rating_block_1 input[type="radio"] {
    display: none;
}

.label_rating_1 {
    float: right;
    display: block;
    width: 25px;
    height: 25px;
    background: url(https://lacbucket.s3.eu-west-2.amazonaws.com/resources/rating/8884bb94fee6ceef83b8a0a7afbc6ed0.png) no-repeat 50% -2px;
    cursor: pointer;
}

/*Пишем правила смены положения background-а*/
.rating_block_1 .label_rating_1:hover, /*Правило для ховера на текущий лейбл*/
.rating_block_1 .label_rating_1:hover ~ .label_rating_1, /*Правило для всех следующих лейблов по DOM дереву*/
.rating_block_1 input[type="radio"]:checked ~ .label_rating_1 /*Правило для всех следующих лейблов после выбранного инпута, чтобы звездочки как бы зафиксировались*/
{
    background-position: 50% -25px;
}

button:disabled {
    background-color: #ce928f;
}